footer{
    background-color:cornsilk;
   
    
    ul{
        margin: 0;
        padding: 5px 5px 5px 15px;
        display: flex;
        flex-direction: row;
        justify-content: left;
        flex-wrap: wrap;
        @media (max-width: 768px){
            flex-direction: column;
        }
    }
   
    li{
        display: flex;
        flex-direction: row;
        align-items: center;
        list-style: none;
        padding: 10px;
            
       
        a{
            text-decoration: none;
            color: rgb(103, 175, 222);
            font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            transition: all 0.4s ease-in-out;
           
            &:hover{
                font-weight: 900;
                color: rgb(135, 207, 255);
                font-size: 17px;
                

            }
        }
    }
}