.buttonCount{
    display: flex;
    flex-direction: column;
    gap: 1px;
    align-items: center
}

.buttonCountRow{
    display: flex;
    flex-direction: row;
    gap: 2px;
    justify-content: center;
    margin-top: 5px;
}

